<div class="card">
    <div class="card-image">
        <img [src]="image"
         alt="Placeholder image">
    </div>
    <div class="card-content">
        <div class="media-content">
          <h1 class="title is-4">{{ name }}</h1>
          <p class="subtitle is-6">Status: {{ status }}</p>
          <p class="subtitle is-6">{{ gender }}</p>
          <p class="subtitle is-6">{{ species }}</p>
          <button class="button is-danger is-light">Danger</button>
        </div>
      </div>
  </div>